<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #button
        {
            <!--text-align: center;-->
        }
    </style>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1>Welcome to main page</h1>
    <div id="button">
        <button id="myButton" class="float-left submit-button" >POE Data</button>
    </div>
    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "/poe_streamers";
        };
    </script>
</body>
</html>